*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Heebo", sans-serif;
}

.container{
    max-width: 1280;
    width: 80%;
    margin: 0 auto;
}

header{
    padding: 10px 0;
    background-color: #000000;
    color: white;
}

header li a{
    text-decoration: none;
}

header h1{
    font-size: 35px;
    font-weight: 650;
}

.clicaveis a{
    color: white;
    font-size: 22px;
    font-weight: 650;
}
.clicaveis li{
    margin-bottom: 10px;
}

header nav li{
    display: block;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .left-header{
    flex: 1;
}
header .logo-central{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}
header .right-header { /*Aparentemente nem precisa desse, mas é bom ter*/
    flex: 1; 
    display: flex; 
    justify-content: flex-end;
}

body{
    background-color: #14161a;
    font-family: "Mukta", sans-serif;
}

.sitestart,
.favorite{
    color: #ecf0f1;
}

.sitestart h2{
    font-size: 48px;
}

.sitestart h2{
    margin-top: 85px;
}

.sitestart{
    align-items: flex-start;
}

.conhecendo{
    display: flex;
    align-items: flex-start;
    font-size: 35px;
}

#favorite {
    font-family: "Heebo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
}
.favoritetitle h2{
    font-size: 56px;
    margin-top: 80px;
}
.favoritetitle h3,
.favoritetitle h3 a{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    color: #ecf0f1;
}
.favoritetitle h3 a:hover{
    color: red;
}
#favorite p{
    font-size: 30px;
}

#listawrestlers{
    display: flex;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
}

.davebatista{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.johncena{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sheamus{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#listawrestlers h3{
    color: #ecf0f1;
    font-size: 30px;
    margin-top: 80px;
}

#listawrestlers p{
    width: 450px;
    color: #ecf0f1;
    font-size: 20px;
}

.copytamm{
    margin-top: 50px;
    font-size: 20px;
    color: #8f0d0d;
}

#contact{
    font-family: "Heebo", sans-serif;
    color: #ecf0f1;
}

form input,
form button,
form textarea{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

button{
    background-color: #8a0303;
    cursor: pointer;
    border: none;
    color: #ecf0f1;
}
button:hover{
    background-color: #000000;
}

input:focus,
textarea:focus{
    background-color: #5c5c5d;
    outline-color: #8a0303;
    color: white;
}